.root {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: 10vw 10vw;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

.tube {
  position: fixed;
  width: 10vw;
  height: 10vw;
}

.tubePic {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.video {
  border: none;
  width: 10rem;
  height: 10rem;
}



/* scale for smaller windows and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
  .root {
    background-size: 5vw 5vw; 
  }
}

/* scale for laptops/PC and large screens */
@media (min-width: 1200px) {
  .root {
    background-size: 5vw 5vw; 
  } 

}